html
head
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=", crossorigin="anonymous")

    script(src="index.js")

    include bootstrap
    include default-margins

body
    h2 Enter passphrase:
    input(type="text", name="passphrase", id="passphrase")
    input(type="button", onclick="checkHash('all', '/')", name="Submit", value="Submit")
    input(type="text", name="dest", id="dest", hidden=true, value="/")
    p

    
    p
        i try 
            b 
                a(href="search") searching 
            | !{' '} the database.
    p
        i or  
          b 
            a(href="submit_report.html") submit a bug report
          | !{' '} online (no passphrase required!).
   
    
    include footer 
