html
head
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=", crossorigin="anonymous")

    script(src="index.js")

    include bootstrap
    include default-margins
    include buttons 

    //- style(type="text/css").
    //-     body {
    //-         background-image: url("assets/pybug.png");
    //-         background-repeat: no-repeat;
    //-         opacity: 20%;
     
            
    //-     }

  

body
    //- h2 Enter passphrase:
    //- input(type="text", name="passphrase", id="passphrase")
    //- input(type="button", onclick="checkHash('all', '/')", name="Submit", value="Submit")
    //- input(type="text", name="dest", id="dest", hidden=true, value="/")

    
    center 
        h2 Welcome to the PyEdit Bug Database! 

        p
            button.button 
                span
                    a(href="/search").button Search

        p
            button.button
                span
                    a(href="/submit_report").button Submit Bug report
        
        p
            button.button
                span
                    a(href="/api-docs").button See the API
   
    
    include footer 
