html 
    head 
        title Invalid Token 
    
    body 
        h2 Invalid token 
        p The token you provided is invalid. Please 
            a(href='/api/public/new-token') click here
            | !{' '} to get a token 

            include footer 