html

head

  include bootstrap
  include default-margins 

  style(type="text/css").

    td.label {
      width:100px;
    }

    input {
      width:250px;
    }

    input#submit {
      width: 75px;
    }

  title Search Bugs

  body
    h3 Enter search query
    form(name="search", id="search-form" action="search-results", method='GET')
      table
        tr
          td(class="label")
            label(for="platform").col-form-label Platform:
          td
            input(name="platform", form="search-form", type="text", id="platform-input").form-control
        tr
          td(class="label")
            label(for="user").col-form-label User:
          td
            input(name="user", form="search-form", type="text", id="user-input").form-control
        tr
          td(class="label")
            label(for="pyversion").col-form-label PyVersion:
          td
            input(name="pyversion", form="search-form", type="text", id="pyversion-input").form-control
        tr
          td
            input(id='submit',form="search-form", type='submit', value='Submit')

    include footer