html
head
style(type="text/css").
  table, th, tr, td {
    min-width: 250px;
    min-height: 100px;
    border: 1px solid black;
    padding: 7px;
    border-collapse: collapse;
  }
title Search Results

body
h2 Search Results 


if (nResults == 0)
  h4 No results
else
  table
    tr
      each key in keys
          th= key
    each val in vals
      tr
        each v in val
          td= v 

p
p 
  input(type="button", onclick="getCSVDownload()", value="Download as CSV")
  script(text="text/javascript").
    function getCSVDownload() {
      let query = window.location.search;
      if (!query) {
        query = '?token=' + ((JSON.parse(localStorage.getItem('pybug-token') || '{}')).token) || ''; 
      } else {
        query += '&token=' + ((JSON.parse(localStorage.getItem('pybug-token') || '{}')).token) || ''; 
      }

      window.open('/api/search' + query, '_parent');
    }
include footer