html

head

style(type="text/css").

  td.label {
    width:100px;
  }

  input {
    width:250px;
  }

  input#submit {
    width: 75px;
  }

title Search Bugs

body
form(name="search", id="search-form" action="search-results", method='GET')
table
  tr
    td(class="label")
      label(for="platform") Platform:
    td
      input(name="platform", form="search-form", type="text", id="platform-input")
  tr
    td(class="label")
      label(for="user") User:
    td
      input(name="user", form="search-form", type="text", id="user-input")
  tr
    td(class="label")
      label(for="pyversion") PyVersion:
    td
      input(name="pyversion", form="search-form", type="text", id="pyversion-input")
  tr
    td
      input(id='submit',form="search-form", type='submit', value='Submit')
